

$bg-color: #f5f5f5;
$header-bg-color: #ffffff95;
$bg-gradient: linear-gradient(0deg, #f5f5f5 0%, rgb(255, 255, 255) 100%);
$primary-color: #444;
$secondary-color: #202020;
$link-color: #0017a2;
$link-hover-color: #2a48ff;
$button-color: #0017a2;
$button-text-color: #fff;
$button-text-hover-bgcolor: #000;
$h1-color: #111;
$profile-card-link: #0017a2;
$profile-grid-color: #333;


// Dark theme colors
$bg-color-dark: #484848;
$header-bg-color-dark: #22222290;
$primary-color-dark: #b8b8b8;
$link-color-dark: #e1ff00;
$link-hover-color-dark: rgb(152, 152, 3);
$h1-color-dark: #fff;
$headline-color-dark: #eeffbb;
$profile-card-link-dark: darkblue;
// $bg-gradient-dark: linear-gradient(0deg, rgb(64, 64, 65) 0%, rgb(20, 20, 20) 100%);



html[class='dark_theme'] {
    background: $bg-color-dark;    
    color: $primary-color-dark;
    header { background-color: $header-bg-color-dark; }
    h1 {
      color: $h1-color-dark;
    }
    h2, h3, h4, h5, h6  {
        color: $headline-color-dark;
    }
    a {
      color: $link-color-dark;
    }
    a:hover {
      color: $link-hover-color-dark;
    }
    #profile-grid a {
      color: $profile-card-link-dark;
    }
    #profile-grid h2, #profile-grid h3 {
      color: $profile-grid-color;
    }
    .sticky {
      background-color: $bg-color-dark;
    }
    svg {
      fill: $h1-color-dark;
    }
}