@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue !important;
    }
    .profile-card ul li {
      border-radius: 1rem;
      padding: 2rem;
      margin: 1rem;
    }
  }