@media only screen and (max-width: 600px) {
  header {
    padding: 20px 8%;
  }
  header .logo {
    padding-top: 0;
  }
    #profile-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: .8rem;
      padding: 1rem;
      line-height: 1.5;
    }
    #profile-grid div {
      grid-column: 1;
      width: 100%;
      padding: 1.5rem !important;
      border-radius: 1.3rem !important;
    }
    h1 {
      font-size: 1.8rem;
    }
    button {
      padding: 1.1rem;
    }
    .item1 {
      min-height: 250px;
    }
    .item2 {
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .project-gallery {
      margin-left: unset;
    }
    .project-gallery img {
      width: 90%;
    }
    #profile-section {
      max-width: 100%;
      margin: 5rem auto 15rem;
      font-size: 1.1rem;
    }
    //header span { display: none;}
    article p {
      width: 100%;
      padding: 0 1rem;
    }
    article h2, article h3, article h4, article h5, article h6 {
      width: 100%;
      padding: 0 1rem;
    }
    .sticky {
      top: 0;
      padding: 1rem 0 1rem 0;
      text-align: center;
      top: 3.3rem;
      background-color: $header-bg-color;
      font-weight: 600;
      font-family: Inter;
      border-top: 2px solid $primary-color;
      margin-bottom: 3rem
    }
  }

