@use "colors";

@media only screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }
  header {
    padding: 20px 8%;
  }
  header .logo {
    padding-top: 0;
  }
  #hero-section {
    max-width: 100%;
  }
  .hero-menu-div {
    margin: 8%;
  }
  #profile-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: .8rem;
    padding: 1rem;
    line-height: 1.5;
  }
  #profile-grid div {
    grid-column: 1;
    width: 100%;
    padding: 1.5rem !important;
    border-radius: 1.3rem !important;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  button {
    padding: 1.1rem 2rem;
  }
  .under-h1 {
    margin: 0 auto;
  }
  .item1 {
    min-height: 250px;
  }
  .item2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .project-gallery {
    margin-left: unset;
  }
  .project-gallery img {
    width: 90%;
  }
  #profile-section {
    max-width: 100%;
    margin: 5rem auto 15rem;
    font-size: 1.1rem;
  }
  article p, article ul {
    width: 100%;
    padding: 0.5rem 2rem;
    line-height: 25px;
    font-size: 0.9rem;
  }
  article ul, .tags ul {
    padding-left: 1.5rem;
  }
  article h2, article h3, article h4, article h5, article h6 {
    width: 100%;
    padding: 0.5rem 2rem 0;
  }
  .sticky {
    top: 0;
    padding: 1rem 0 1rem 0;
    text-align: center;
    top: 3.9rem;
    background-color: colors.$header-bg-color;
    font-weight: 600;
    font-family: Inter;
    border-top: 1px solid colors.$header-border-color;
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }
  .work-div {
    padding: 2rem;
    margin: 8%;
  }
  .work-div p {
    padding: 0;
  }
  .work-div span {
    width: 80%;
    display: block;
    font-weight: bold;
  }
}

