@import "mobile";
@import "colors";

$font-stack: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


body {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%);
    font-size: 18px;
    font-family: $font-stack;
    color: $primary-color;
    margin: 0 auto;
    padding-bottom: 5rem;
    max-width: 1600px;
}
header {
    width: 100%;
}
header span {
    font-size: 20px;
    margin: 3rem;
    position: sticky;
    top: 20px;
    font-weight: bold;
}
main {
    max-width: 600px;
    padding: 1rem;
    margin: 0 auto;
}
footer {
    text-align: center;
}
a {
    color: $link-color;
    text-decoration: none;
    font-weight: bold;
}
a:hover { color: $link-hover-color; }
h1, h2, h3, h4, h5, h6 {
    color: $secondary-color;
    font-weight: 600;
}
h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 700;
}
p {
    font-size: 20px;
}

h2 {
    font-size: 36px;
}
.profile-card img {
    width: 150px;
}
.profile-card ul { 
    padding: 0;
}
.profile-card ul li {
    border-radius: 2rem;
    background-color: #fff;
    padding: 2rem;
    margin: 1rem;
    list-style: none;
    color: #000;
    box-shadow: 5px 5px 18px -15px;
}
.profile-card ul li:hover {
    box-shadow: 5px 5px 18px -10px;
}
small {
    color: #999;
}
button {
    padding: 1rem 2rem;
    background-color: #000;
    border: 0;
    border-radius: 0.5rem;
}
button a {
    color: $button-text-color;
    text-decoration: none;
    font-weight: 600;
}
button:hover {
    background-color: $button-text-hover-bgcolor;
}