
@import "colors";
@import "fonts";


* {
    box-sizing: border-box;
}
  
html {
    background: $bg-color;
    //background: $bg-gradient;
    font-size: 1rem;
    font-family: $font-stack;
    color: $primary-color;
    margin: 0 auto;
    padding-bottom: 5rem;
    //max-width: 1600px;
}
body {
    margin: 0;
}
header {
    width: 100%;
    top: 0;
    position: sticky;
    background-color: $header-bg-color;
    padding: 20px 5%;
    display: flex;
    z-index: 1;
}
header .logo {
    font-size: 20px;
    font-weight: 500;
    padding-top: 5px;
    font-family: Inter;
}
header .theme-switcher {
    margin-left: auto;
    order: 2
}
main {
    padding: 0;
    margin: 0 auto;
}
footer {
    text-align: center;
    padding-top: 5rem;
}
a {
    color: $link-color;
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    color: $link-hover-color;
    rotate: 1deg;
    //display: inline-flex;
}
h2, h3, h4, h5, h6 {
    color: $secondary-color;
    font-weight: 600;
}
h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    font-family: Inter;
    color: $h1-color;
    padding-top: 5rem;
    transition: 3s ease-in-out;
}
h1:hover {
    animation: rotation 3s infinite ease-in-out;
    rotate: 6deg;
} 
  @keyframes rotation {
    50% {
      transform: rotate(6deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
.under-h1 {
    margin: -1rem auto 0;
    text-align: center;
    color: $primary-color;
    font-size: 1.3rem;
}
.hero-menu-div {
    background-color: $button-text-color;
    border: 3px solid $button-color;
    display: flex;
    font-weight: 600;
    padding: 1.8rem 2.5rem;
    margin: 2rem 1rem;
}
.hero-menu-div:hover {
    background-color: $link-color;
    display: flex;
    rotate: 0deg;
}
.hero-menu-div:hover svg {
    fill: #fff;
}
.hero-menu-div:hover .hero-link-text, .hero-menu-div:hover .hero-link-text span {
    color: #fff;
}
.hero-icon svg {
    width: 50px;
    vertical-align: middle;
    margin: 0 1.2rem 0 0;
    fill: $link-color;
}
.hero-link-text {
    flex: 1;
    margin-top: .3rem;
    font-weight: 600;
    font-size: 1.1rem;
}
.hero-link-text span {
    color: #666;
    display: block;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 0.6rem;
}
article {
    padding-bottom: 3rem;
}
article p, article ul {
    font-size: 1rem;
    line-height: 30px;
    margin: 1rem auto;
    width: 640px;
}
article h2, article h3, article h4, article h5, article h6 {
    margin: 2rem auto 1rem;
    width: 640px;
}
article button {
    margin: 0 auto;
    max-width: 640px;
}
h2 {
    font-size: 2.2rem;
    margin-top: 5rem;
}
h3 {
    font-size: 1.2rem;
}
.text-center {
    text-align: center;
}
.sticky {
    display: block;
    position: sticky;
    top: 0;
    padding-top: 1rem;
    width: unset;
    text-align: center;
    font-weight: 800;
    font-size: 1.8rem;
    z-index: 2;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
section {
    margin: 7rem 0;
}

#hero-section {
    max-width: 800px;
    margin: 5rem auto 5rem;
    font-size: 1.1rem;
}
#profile-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2.3rem;
    padding: 10rem 3rem 10rem 3rem;
    background-color: #e3f6ff;
    border-bottom: 10px solid #60606021;
    border-radius: 0.5rem 0.5rem 1rem 1rem;
    line-height: 1.5;
}
#profile-grid div img {
    margin-bottom: 1rem;
}
#profile-grid a {
    color: $profile-card-link;
}
#profile-grid h2, .profile-grid h3 {
    color: $profile-grid-color;
    margin-bottom: 1.5rem;
}
#profile-grid div {
    border-radius: 2rem;
    background-color: #fff;
    padding: 2.25rem;
    list-style: none;
    color: $profile-grid-color;
    box-shadow: 5px 5px 18px -15px;
    line-height: 1.5;
    font-size: 1rem;
}
#profile-grid div:hover {
    box-shadow: 5px 5px 18px -10px;
}
.item1 {
    background-image: url('./../img/jesper-ekerling-profile-picture.webp');
    background-size: cover;
}
.item1:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.item2 {
    grid-column-start: 2;
    grid-column-end: 4;
    line-height: 2;
    h2 {
        font-size: 1.8rem;
        margin-top: 0;
        font-weight: bold;
    }
}
.item5 h3 {
    margin-top: 0;
}
strong {
    font-weight: 600;
}
small {
    color: $primary-color;
}
button {
    padding: 1.1rem 3rem;
    background-color: $button-color;
    border: 0;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}
button a, a button {
    color: $button-text-color;
    text-decoration: none;
    font-weight: 600;
}
button:hover, button a:hover {
    background-color: $button-text-hover-bgcolor;
    color: $button-text-color;
    cursor: pointer;
}
.divider {
    padding: 5rem 0;
}
.divider hr {
    max-width: 70px;
    border: 4px solid $primary-color-dark;
    border-radius: 13px;
}
#projects h3 {
    font-size: 2rem;
    padding-top: 5rem;
}
.project-gallery {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}
.project-gallery a:hover {
    display: inline-block;
}
.project-gallery img {
    width: 300px;
    display: inline-block;
    aspect-ratio: 1 / 1;
    height: unset;
    border-radius: 0.4rem;
    object-position: top;
    margin: 1rem;
    box-shadow: $img-box-shadow;
    &:hover {
        opacity: 0.7;
        padding: 0;
        transition: 0.2s ease-in-out;
        rotate: 1deg;
    }
}

h4 a {
    text-decoration: underline;
}

.svg {
    vertical-align: middle;
    fill: $h1-color;
    text-align: center;
}
svg {
    width: 60px;
    vertical-align: middle;
    fill: $h1-color;
    margin: 2rem;
}

.switch-button {
    text-align: center;
    margin: 0 auto;
}

.example-image {
    object-fit: cover;
}

// Work history section
.work-div {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #666;
    padding: 1em 2rem;
    margin: 2rem auto;
    max-width: 640px;
    display: block;
}
.work-div:hover {
    background-color: #ffffff10;
}
.work-div .project-img {
    width: 3rem;
    height: 3rem;
}
.work-div h3 {
    padding: 1rem 0 2rem;
    margin: 0;
}

.tags ul {
    padding: 0 0 0 0.5rem;
    margin: 0 auto 3rem;
}

.tags li {
    display: inline-block;
    padding: .5rem 1rem;
    margin: .3rem .3rem .4rem .3rem;
    background-color: #fff;
    border-radius: .4rem;
    font-size: 85%;
    white-space: nowrap;
    color: $link-color;
    box-shadow: 1px 1px 1px 1px $img-box-shadow;
    font-weight: 600;
}
.tags li a {
    color: $link-color;
}
.tags li:hover {
    rotate: 3deg;
    background-color: $taghover;
}
.tags li:hover a {
    rotate: 3deg;
    color: #000;
    background-color: $taghover;
}

.tags li svg, .tags li img {
    width: 1rem;
    height: 1rem;
    margin: 0;
    vertical-align: sub;
    padding-right: .15rem;
}
.linkedin, .linkedin a {
    background-color: #0a66c2 !important;
}
.linkedin a {
    color: #fff !important;
}
.linkedin svg {
    fill: #fff;
}
.github, .github a {
    background-color: #000 !important;
}
.github a {
    color: #fff !important;
    width: 50%;
}
.github svg {
    fill: #fff;
}

// CSS styles for theme switch button
 
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('../img/icons/night.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input:checked + .slider {
    background-color: $link-color;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $link-color;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
    background: white url('../img/icons/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  
    .tooltip {
        position: relative;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: $bg-color-dark;
        color: $button-text-color;
        text-align: center;
        border-radius: 1rem;
        padding: 1rem;
        position: absolute;
        z-index: 1;
        bottom: 85%;
        left: 50%;
        margin-left: -100px;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 90%;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
    .tooltip .tooltiptext {
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: $bg-color-dark transparent transparent transparent;
        }
    }
    .tooltip img {
        transition: all 1s ease-in-out;
    }
    
    .tooltip:hover img {
        transform: rotate(360deg);
    }
    .text-left {
        text-align: left !important;
    }
  
  @import "mobile";